@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    min-width: 100%;
}

body {
    background: linear-gradient(120deg, #BDF2FF, #9CECFF, #BA9FE7, #9E74D0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.center p {
    padding: 10px 0;
    text-align: center;
}

form .registerContainer {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 27px 0;
}

.registerContainer input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}

.registerContainer label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .5s;
}

.registerContainer span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.registerContainer input:focus~label,
.registerContainer input:valid~label {
    top: -5px;
    color: #2691d9;
}

.registerContainer input:focus~span::before,
.registerContainer input:valid~span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.back_button {
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    color: #e9f4fb;
    position: center;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.back_button :hover {
    border-color: #2691d9;
    transition: .5s;
}

.signin_link {
    margin: 30px 0;
    text-align: center;
    font-size: 15px;
    color: #666666;
}

.signin_link a {
    color: #2691d9;
    text-decoration: none;
}

.signin_link a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #68369B;
}

::-webkit-scrollbar-thumb:hover {
    background: #7550A6;
}