<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Nam_ieFashionOutletPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>model.Customer</class>
    <class>model.Payment</class>
    <class>model.Category</class>
    <class>model.ProductDetails</class>
    <class>model.OrderDetails</class>
    <class>model.Staff</class>
    <class>model.Feedback</class>
    <class>model.CustomerAccount</class>
    <class>model.Product</class>
    <class>model.Orders</class>
    <class>model.Delivery</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/clothsdb"/>
      <property name="javax.persistence.jdbc.user" value="nbuser"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="nbuser"/>
    </properties>
  </persistence-unit>
</persistence>
