@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ffc3d7, #ffe28a);
}

.logo {
    text-align: center;
    padding-top: 10px;
}

.menubar {
    background-color: white;
    height: auto;
}

.menubar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menubar li {
    display: inline;
    width: 20%;
    text-align: center;
}

.menubar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menubar a:hover,
a:active {
    color: #A3A3A3;
    transition: 0.5s;
}

#navbar {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    transition: top 0.3s;
    background: linear-gradient(120deg, #ffc3d7, #ffe28a);
}

p {
    padding-top: 7.5%;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #8b79b1;
}

::-webkit-scrollbar-thumb:hover {
    background: #d9d3e5;
}


/* Hot Sales */

.HotSales{
    padding:2%;
    
}

.HotSales h3{
    text-align: center;
    font-size:50px;
    font-family: "Gill Sans", sans-serif;
    color:rgb(176, 47, 47);
}
.HotSales a{
    text-decoration: none;
}

.HotSales.Items::after{
    content: "";
    clear: both;
    display: table;
}
.HotItem{
    float:left;
    width:16.66%;
    height:auto;
}

.HotItem .itemImg{
    width: 100%; 
    height : 150px;
    padding: 5%; 
    float: left;
    
}
.HotItem .itemImg:hover{
    opacity:10%;
    transition: 3s;
    display:inline-block;
}
.HotItem a{
    text-align:center;
    color:black;
    text-decoration: none;
}

.HotItem a:hover{
    text-decoration: underline;
    color:rgb(104, 140, 194)
}
.HotItem p{
    text-align: center;
    padding:1px;
}

