@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    min-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #ffc3d7, #ffe28a);
}

.logo {
    text-align: center;
    padding-top: 10px;
}

.menubar {
    background-color: white;
    height: auto;
}

.menubar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menubar li {
    display: inline;
    width: 20%;
    text-align: center;
}

.menubar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.menubar a:hover,
a:active {
    color: #A3A3A3;
    transition: 0.5s;
}

#navbar {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    transition: top 0.3s;
    background: linear-gradient(120deg, #ffc3d7, #ffe28a);
}

p {
    padding-top: 150px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #8b79b1;
}

::-webkit-scrollbar-thumb:hover {
    background: #d9d3e5;
}

/**** New Arrivals ****/
.newArrival {
    padding: 2%;
}
    .newArrival::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .newArrivalText {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        font-size: 450%;
        animation: textgrowth 1s infinite alternate;
    }
     
     @keyframes textgrowth {
        0% {
            background: -webkit-linear-gradient(120deg, rgb(248, 175, 57), rgb(255, 0, 0));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 3px 0 0px rgba(251, 130, 74, 0.746);
        }

        50% {
            background: -webkit-linear-gradient(120deg, rgb(250, 86, 21), rgb(255, 117, 4));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 3px 0 0px rgba(255, 150, 101, 0.746);
        }
        
        100% {
            background: -webkit-linear-gradient(120deg, rgb(255, 63, 29), rgb(238, 129, 26));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 3px 0 0px rgba(241, 137, 51, 0.815);
        }
    }

    .newArrival .prodDetails {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 2.2%;
        margin-bottom: 5%;
        opacity: 0;
        transition: .5s ease;
        background-color: white;
    }

.imgNewArrival {
    width: 20%; 
    padding: 0.5%; 
    float: left;
    text-decoration: none;
    color: black;
    position: relative;
}

    .imgNewArrival .image {
        width: 100%;
    }

    .imgNewArrival:hover .prodDetails {
        opacity: 0.5;
    } 

    .imgNewArrival .prodNameNew, .imgNewArrival .priceNewArrival {
        color: black;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .imgNewArrival .prodNameNew {
        text-align: center;
        font-size: 70%;
        top: 42%;
    }   

    .imgNewArrival .priceNewArrival {
        text-align: center;
        font-weight: bold;
        top: 60%;
    }
      