/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 8, 2022, 9:34:28 PM
    Author     : melvi
*/

body {
    font-family: 'Poppins',sans-serif;
    text-align: center;
}

.container h1 {
    font-size: 225%;
    letter-spacing: 0.5px;
}

.registerbtn {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border-radius: 15px;
}

.registerform {
    width: 400px;
    height: auto;
    border-radius: 15px;
    background-color: black;
}

.registerformcontainer {
    margin: auto;
    text-align: center;
    letter-spacing: 0.5px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.registerform input {
    font-family: 'Poppins',sans-serif;
    padding: 5px;
    margin: 10px;
}

.registerform label {
    font-family: 'Poppins',sans-serif;
    text-align: left;
    color: #FFFFFF;
}

.registerform div {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.registerform label {
    font-size: 15px;
    text-align: left;
}
